{% extends "admin/admin.html" %}
{% import "admin/alert_info.html" as alert_info %}

{% block content %}
    <section class="content-header">
        <h1>微电影管理系统</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 预告管理</a></li>
            <li class="active">添加预告</li>
        </ol>
    </section>
    <section class="content" id="showcontent">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">添加预告</h3>
                    </div>
                    {{ alert_info.succeed() }}
                    {{ alert_info.fail() }}
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                {{ form.title.label }}
                                {{ form.title }}
                                {{ alert_info.error(form.title) }}
                            </div>
                            <div class="form-group">
                                {{ form.logo.label }}
                                {{ form.logo }}
                                {{ alert_info.error(form.logo) }}
                                {% if preview %}
                                    <img src="{{ url_for("static",filename="upload/"+preview.logo) }}"
                                         style="margin-top:5px;max-width: 700px;max-height: 700px"
                                         class="img-responsive" alt="">
                                {% else %}
                                    <img data-src="holder.js/700x320" style="margin-top:5px;" class="img-responsive"
                                         alt="">
                                {% endif %}

                            </div>
                        </div>
                        <div class="box-footer">
                            {{ form.submit(value=btn) }}
                            {{ form.csrf_token }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}